* {
    padding: 0;
    margin: 0;
}
p{
    font-family: calibri, sans-serif;
    text-indent: 70px;
    line-height: 1.33;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: justify;
}
@font-face {
    font-family: hindi;
    src: url(NotoSans-Regular.ttf);
}
.hn p {
    font-family: hindi, sans-serif;
    font-size: 23px;
    text-indent: 70px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: justify;
}
.lan{
    font-size: 18.5px;
    background-color: rgb(255, 255, 220);
    text-align: center;
    margin: 10px auto;
}
.ens{
    font-family: sans-serif;
    color: #0055ff;
    font-weight: 700;
    margin: 0 8px;
}
.hns{
    font-family: hindi;
    color: black;
    font-weight: 700;
    margin: 0 8px;
}
.lt{
    appearance: none;
    width: 50px;
    height: 18px;
    cursor: pointer;
}
.lt::before{
    position:absolute;
    content: '';
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: #333;
    transition: 0.2s ease;
}
.lt:checked::before{
    position:absolute;
    content: '';
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: #0065ff;
}
.lt::after{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border: 3px solid #333;
    box-sizing: border-box;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    transition: 0.2s ease;
}
.lt:checked::after{
    position: absolute;
    margin: 0 25px;
    border: 3px solid #0065ff;
}
.en{
    display: none;
}
.hn{
    display: block;
}
.lt:checked~.en{
    display: block;
}
.lt:checked~.hn{
    display: none;
}










body {
    margin: 0px 0%;
    color: white;
    background-color: rgb(255, 255, 220);
    font-family: sans-serif;
    min-height: 98.4vh;
}
.hd{
    margin: 10px 5%;
    display: flex;
    margin-bottom: 25px;
}
#hi {
    font-family: sans-serif;
    color: rgb(220, 0, 0);
    text-align: left;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    margin: auto auto 15px 5%;
}
.hn #hi {
    font-family: hindi, sans-serif;
}
#hi h1{
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 18px;
}
#hi h3 {
    font-size: 30px;
    color: black;
}
#im{
    display: block;
    margin: auto 10% auto auto;
}
#im img{
    margin-top: 12px;
    width: 175px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.5);
}
.content {
    font-size: 24px;
    background-color: rgb(39,39,39);
    padding: 5px 40px;
    border-radius: 20px;
    margin: 10px 5%;
    margin-bottom: 45px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.8);
}

.lo ul {
    display: flex;
    margin: 0px 26%;
    list-style: none;
    padding-bottom: 0px;
    justify-content: space-evenly;
}
.lo img{
    margin-top: 10px;
    width: 42px;
    box-shadow: 16px 8px 8px 0 rgba(0,0,0, 0.6);
    transition: 0.2s;
    border-radius: 10px;
}
.lo img:hover{
    filter: brightness(120%);
    box-shadow: 10px 5px 5px 0 rgba(0,0,0, 0.9);
}
.lh{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20% 35px 20%;
}
button{
    background: transparent;
    border: transparent;
}
.link {
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 11px 18px;
    background-color: rgb(200, 0, 0);
    border: 2px solid rgb(200, 0, 0);
    border-radius: 15px;
    transition: 0.1s linear;
}
.link:hover {
    background-color: yellow;
    color: black;
    border: 2px solid black;
}
.smh{
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
    color: yellow;
}
footer{
    position: sticky;
    top: 100%;
}
.luo{
    font-family: arial, sans-serif;
    font-size: 18px;
    text-align: right;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-right: 10%;
}
.con{
    background: #222;
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    font-family: calibri,sans-serif;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
    margin: 0 5%;
}
















.hwh{
    color: rgb(220, 0, 0);
    font-weight: 800;
    text-align: center;
    margin: 30px;
    font-size: 45px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}
.hn .hwh{
    font-family: hindi;
    color: rgb(220, 0, 0);
    font-weight: 800;
    text-align: center;
    margin: 30px;
    font-size: 44px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}
.r img{
    display: block;
    margin: 35px auto;
    width: 83%;  
}















.uph{
    background-color: #222;
    margin: 0 5%;
    padding: 5px;
    border-radius: 20px 20px 0 0;
}
.liro, .daro{
    font-family: calibri, sans-serif;
    font-size: 22px;
    margin: 0 5%;
    border-left: 3px solid #222;
    border-right: 3px solid #222;
}
.liro{
    background: #ffffff;
}
.daro{
    background: #d4d4d4;
}
.row{
    font-family: calibri, sans-serif;
    font-size: 22px;
    display: flex;
    padding: 5px 0;
    margin: 0 1%;
}
.hn .row{
    font-family: hindi;
}
.date{
    font-family: calibri, sans-serif;
    color: black;
    font-weight: 700;
    width: 140px;
    max-width: 141px;
    min-width: 140px;
    margin: auto 0;
}
.hn .date{
    font-family: calibri, sans-serif;
    font-weight: 700;
}

.comment{
    color: black;
    width: auto;
    margin-left: 20px;
    text-align: left;
}
#dh{
    font-size: 24px;
    color: yellow;
    margin: 0 auto;
}
#dhd{
    font-size: 24px;
    font-family: hindi, sans-serif;
    font-weight: 400;
    color: yellow;
    width: 140px;
    max-width: 141px;
    min-width: 140px;
    margin: auto 0;
}
.upf{
    background-color: #222;
    margin: 0 5% 30px 5%;
    padding: 4px;
    border-radius: 0 0 6px 6px;
}















@media (orientation: portrait) {
    .lo ul {
        display: flex;
        margin: 28px 5%;
        list-style: none;
        padding-bottom: 0px;
        justify-content: space-evenly;
    }
    .lo img{
        margin-top: 0px;
        width: 45px;
        box-shadow: 16px 8px 8px 0 rgba(0,0,0, 0.6);
        transition: 0.2s;
        border-radius: 10px;
    }
    .lo img:hover{
        filter: brightness(120%);
        box-shadow: 10px 5px 5px 0 rgba(0,0,0, 0.9);
    }
    .content {
        margin: 0 0;
        margin-bottom: 35px;
        font-size: 18.5px;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .lh{
        display: block;
        margin-bottom: 24px;
    }
    .lh button{
        display: block;
        margin: 15px auto;
    }
    .link {
        display: block;
        font-size: 18.5px;
        font-weight: 600;
        padding: 10px 15px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
        background-color: rgb(200, 0, 0);
        border: 2px solid rgb(200, 0, 0);
        border-radius: 15px;
        transition: 0.1s linear;
    }
    .link:hover {
        background-color: yellow;
        color: black;
        border: 2px solid black;
    }
    .r img{
        display: block;
        margin: 18px auto;
        width: 93%;
    }
    p{
        font-family: calibri, sans-serif;
        text-indent: 70px;
        line-height: 1.33;
        color: rgb(255, 255, 255);
        text-align: justify;
        margin: 14px 3.5%;
    }
    .hn p {
        font-family: hindi, sans-serif;
        font-size: 18.5px;
        text-indent: 70px;
        line-height: 1.4;
        color: rgb(255, 255, 255);
        margin: 14px 3.5%;
        text-align: justify;
    }
    .hd{
        margin: 0px 4%;
        display: block;
        justify-content: center;
        margin-bottom: 25px;
    }
    #hi {
        font-family: sans-serif;
        color: rgb(200, 0, 0);
        text-align: center;
        text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
        margin: 20px auto 20px auto;
    }
    .hn #hi {
        font-family: hindi, sans-serif;
    }
    #hi h1{
        color: rgb(200, 0, 0);
        font-weight: 800;
        font-size: 28px;
        margin: 15px auto;
    }
    #hi h3 {
        font-size: 20px;
    }
    #im{
        display: block;
        margin: auto;
    } 
    #im img{
        display: block;
        margin: 0px auto 5px auto;
        width: 45%;
        border: 1px solid black;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.8);
    }
    .hwh{
        color: rgb(200, 0, 0);
        text-align: center;
        margin: 20px auto;
        font-size: 28px;
        text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    }
    .hn .hwh{
        color: rgb(200, 0, 0);
        text-align: center;
        margin: 20px auto;
        font-size: 28px;
        text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    }
    .smh{
        font-size: 20px;
    }
    .link {
        font-size: 22px;
    }
    footer{
        position: sticky;
        top: 100%;
    }
    .luo{
        font-family: calibri, sans-serif;
        font-size: 12px;
        text-align: center;
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        margin-right: 0;
    }
    .con{
        background: rgb(39,39,39);
        color: rgb(255, 255, 255);
        border-radius: 20px 20px 0 0;
        font-family: calibri,sans-serif;
        font-size: 18px;
        padding: 10px 0;
        text-align: center;
        margin: 0;
    }

    .uph{
        background-color: #222;
        margin: 0 0;
        padding: 5px;
        border-radius: 20px 20px 0 0;
    }
    .liro, .daro{
        font-family: calibri, sans-serif;
        font-size: 18px;
        margin: 0 0;
        border-left: 3px solid black;
        border-right: 3px solid black;
    }
    .liro{
        background: #ffffff;
    }
    .daro{
        background: #d4d4d4;
    }
    .row{
        font-family: calibri, sans-serif;
        font-size: 18px;
        display: flex;
        padding: 10px 0;
        margin: 0 2%;
    }
    .hn .row{
        font-family: hindi;
    }
    .date{
        font-family: calibri, sans-serif;
        color: rgb(0, 0, 0);
        width: 115px;
        max-width: 116px;
        min-width: 115px;
        margin: auto 0;
    }
    .hn .date{
        font-family: calibri, sans-serif;
        font-weight: 700;
    }
    
    .comment{
        color: black;
        width: auto;
        margin-left: 10px;
        text-align: left;
    }
    #dh{
        font-size: 20px;
        font-family: calibri, sans-serif;
        color: yellow;
        margin: 0 auto;
    }
    .hn #dh{
        font-family: hindi, sans-serif;
    }
    #dhd{
        font-size: 20px;
        font-family: calibri, sans-serif;
        color: yellow;
        width: 120px;
        max-width: 121px;
        min-width: 120px;
        margin: auto 0;
    }
    .hn #dhd{
        font-family: hindi, sans-serif;
    }
    .upf{
        background-color: #222;
        margin: 0 0 24px 0;
        padding: 4px;
        border-radius: 0 0 6px 6px;
    }
    
}
