* {
    padding: 0;
    margin: 0;
}
body {
    margin: 10px 0%;
    color: white;
    background-color: rgb(255, 255, 220);
    font-family: sans-serif;
}
.hd{
    margin: 10px 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
#hi {
    font-family: sans-serif;
    color: black;
    padding: 15px 0;
    text-align: left;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}
#hi h1{
    color: rgb(200, 0, 0);
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 18px;
}
#hi h3 {
    font-size: 30px;
}

#im img{
    margin-top: 12px;
    width: 175px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.5);
}
.content {
    font-size: 24px;
    background-color: rgb(48, 48, 48);
    padding: 5px 40px;
    border-radius: 20px;
    margin: 10px 5%;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.8);
}
.lo{
    margin-bottom: 0px;
}
.lo ul {
    display: flex;
    margin: 0px 36%;
    list-style: none;
    padding-bottom: 0px;
    justify-content: space-between;
}
.lo img{
    margin-top: 10px;
    width: 42px;
    box-shadow: 16px 8px 8px 0 rgba(0,0,0, 0.6);
    transition: 0.2s;
    border-radius: 10px;
}
.lo img:hover{
    filter: brightness(120%);
    box-shadow: 10px 5px 5px 0 rgba(0,0,0, 0.9);
}
.lh{
    text-align: center;
}
.link {
    background-color: rgb(230, 0, 0);
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 20px 10px 10px 2px rgba(0,0,0, 0.5);
    transition: 0.2s;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 1);
}
.link:hover {
    background-color: rgb(210, 0, 0);
    box-shadow: 10px 6px 5px 0 rgba(0,0,0, 0.8);
    text-shadow: 5px 3px 7px rgba(0, 0, 0, 0.9);
}
.smh{
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
    color: yellow;
    text-shadow: 10px 5px 5px rgba(0,0,0, 0.9);
}











.hwh{
    color: rgb(200, 0, 0);
    font-weight: 800;
    text-align: center;
    margin: 30px;
    font-size: 45px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}
.r img{
    display: block;
    margin: 35px auto;
    width: 83%;  
}
p{
    font-family: calibri, sans-serif;
    text-indent: 70px;
    line-height: 1.33;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: justify;
}
@media (orientation: portrait) {
    .lo ul {
        display: flex;
        margin: 50px 5%;
        list-style: none;
        padding-bottom: 0px;
        justify-content: space-evenly;
    }
    .lo img{
        margin-top: 10px;
        width: 90px;
        box-shadow: 16px 8px 8px 0 rgba(0,0,0, 0.6);
        transition: 0.2s;
        border-radius: 10px;
    }
    .lo img:hover{
        filter: brightness(120%);
        box-shadow: 10px 5px 5px 0 rgba(0,0,0, 0.9);
    }
    .content {
        margin: 10px 0%;
        margin-bottom: 60px;
        font-size: 14px;
        padding: 20px 0px;
    }
    .r img{
        display: block;
        margin: 50px auto;
        width: 93%;
    }
    p{
        font-family: calibri, sans-serif;
        text-indent: 70px;
        line-height: 1.33;
        color: rgb(255, 255, 255);
        text-align: justify;
        margin: 1.5em 3.5%;
    }
    .hd{
        margin: 20px 4%;
        display: block;
        justify-content: center;
        margin-bottom: 50px;
    }
    #hi h1{
        color: rgb(200, 0, 0);
        font-weight: 800;
        font-size: 45px;
        margin-bottom: 18px;
        text-align: center;
    }
    #hi h3 {
        font-size: 30px;
    }
    #im img{
        display: block;
        margin: 0px auto;
        width: 45%;
        border: 1px solid black;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.8);
    }
    .hwh{
        color: rgb(200, 0, 0);
        text-align: center;
        margin: 60px auto;
        font-size: 45px;
        text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    }
}
